
@font-face {
    font-family: Merlin;
    src: url(./merlin.otf);
    }

@font-face {
    font-family: AveriaSerif-Bold;
    src: url(./AveriaSerif-Bold.ttf);
    }

    @font-face {
        font-family: AveriaSerif-Light;
        src: url(./AveriaSerif-Light.ttf);
        }

#navBar {
    border-top: solid#bdbdbd  1px;
    border-bottom: solid #bdbdbd 1px;
    padding: 0px;
    margin-top: 10px;
}
 
.aboutLink {
    display: block;
    color: #388e3c;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: AveriaSerif-Bold;
    letter-spacing: 3px;
}

.aboutLink:hover{
    background-image: url('./images/green.png');
    background-repeat: none;
    background-size: 100%;
    color: white;
    font-weight: bold;
}
.portfolioLink {
    display: block;
    color: #388e3c;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: AveriaSerif-Bold;
    letter-spacing: 3px;
}

.portfolioLink:hover{
    background-image: url('./images/green.png');
    background-repeat: none;
    background-size: 100%;
    color: white;
    font-weight: bold;
}


.portfolioLink:active{
    background-image: url('./images/green.png');
    background-repeat: none;
    background-size: 100%;
    color: white;
    font-weight: bold;
}


.contactLink {
    display: block;
    color: #388e3c;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: AveriaSerif-Bold;
    letter-spacing: 3px;
}

.contactLink:hover{
    background-image: url('./images/green.png');
    background-repeat: none;
    background-size: 100%;
    color: white;
    font-weight: bold;
}

#main-name{
    display: block;
    font-family: Merlin;
    background-position: center;
    font-size: 150px;
    text-align: center;
    font-weight: normal;
    color: #388e3c;
    line-height: 90%;
}

#main {
    border-top: solid#bdbdbd  1px;
    border-width: 1px;
    padding: 30px;
}

.active {
    color: #579b5b;
}



body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
      
  .footer{
    font-family: AveriaSerif-Bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    border-top: solid#bdbdbd  1px;
    margin-bottom: 0px;
    color: #388e3c;
    background-color: white;
    
  }


  /* contact page */
#email{

    height: 50px;
    display: inline;
}

#emailInfo{
    font-size: 30px;
    font-family: AveriaSerif-Bold;
    text-align: center;
}

#phoneNumber{
    font-size: 30px;
    font-family: AveriaSerif-Bold;
    text-align: center;
}

#phone{
height: 50px;
}


    /* porfolio page */

    .card{
        border: none;
    }

    .card-action {
        border-bottom: solid 1px #388e3c;  
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
        box-shadow: none;
    }

    b{
        font-family: AveriaSerif-Bold;
        color: #388e3c; 
        font-size: 18px;
    }

    #card-demo{
        display: inline-block;
        font-family: AveriaSerif-Light;
        text-transform: lowercase;
        letter-spacing: 3px;
        color: #388e3c; 
        margin-right: 0px;
        padding-right: 0px;
    }

    #card-repo{
        display: inline-block;
        font-family: AveriaSerif-Light;
        text-transform: lowercase;
        letter-spacing: 3px;
        margin-right: 0px;
        padding-right: 0px;
    }


   
    #card-demo:hover {
        border-bottom: solid 1px #388e3c;
        background-image: url('./images/green.png');
        background-size: 150%;
        background-repeat: none;
        padding-bottom: 0px;
        color: white;
        font-weight: bold;
    }
    #card-repo:hover {
        border-bottom: solid 1px #388e3c;
        background-image: url('./images/green.png');
        background-size: 150%;
        background-repeat: none;
        padding-bottom: 0px;
        color: white;
        font-weight: bold;

    }

    #alina{
        margin-top: 50px;
        transform: rotate(90deg);
        height: 100%;
        width: 100%;

    }

   #card-image {
        padding-top: 5px;
        width: 100%;
    }

    .card-content {
        font-family: AveriaSerif-Light;
    }

    #aboutMe {
        font-family: AveriaSerif-Light;
        color: #388e3c;
        font-size: 18px;
        text-align: center;
        line-height: 2.0;
    }